/* 
body{
    background-image: url("../landing/Verduras.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} */