.container{
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    gap: 20px;
    background-color: transparent;
    backdrop-filter: blur(7px);
    align-items: center;
    justify-content: center;
}

.recipeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}